<ion-view title="Ionic Shopping Checkout">
  <ion-content padding="false" scroll="false">
    <div ng-style="style">
      <h3>{{date}} {{hours}}:{{minutes}}:{{seconds}}</h3>

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            芒果汁
          </div>
          <select>
            <option>取消</option>
            <option selected>1</option>
            <option>2</option>
          </select>
        </label>

      </div>

<div class="cash-bottom" style="width:27%;" padding="false">
  <!-- <ul class="list">
    <li class="item">
      <button class="button button-balanced" style="width:100%" padding="false">
  下单
</button>
    </li>
    <li class="item">
      <button class="button button-energized" style="width:100%">
        钱箱
      </button>
    </li>
</ul> -->
<button class="button button-full button-positive">
  下单
</button>
<button class="button button-full button-positive">
  钱箱
</button>
    </div>
    <div>
    </div>
  </ion-content>
</ion-view>
